html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: rgb(36, 44, 61, 1);
}

.navbar {
    margin: auto;
    border: solid;
    border-color: rgba(36, 44, 61, 1);
    height: 75px;
    width: 95%;
    font-size: 30px;
    font-weight: bold;
}

.toppic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1750px;
    height: 400px;
}

.content {
    position: relative;
    top: 20px;
    min-height: 100%;
    background: rgb(36, 44, 61, 1);
}

a {
    font-size: 30px;
}

/* XL Screens + Tv's 1312px */
@media screen and (max-width: 110em) {

}

/* Desktops, Large Screens 992px */
@media screen and (max-width: 86em) {

}

/* Tablets 688px */
@media screen and (max-width: 1080px) {

}

/* Phones */
@media (orientation:portrait), (max-width: 800px) {

}