.toppic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1750px;
    height: 400px;
}

.personal {
    position: relative;
    border-left: 3px solid red;
    border-right: 3px solid black;
    top: 100px;
    left: 675px;
    width: 500px;
    height: 325px;
    background-color: rgba(36, 44, 61, 1);
}

.personal_info {
    text-align: center;
    color: red;
    font-family: Arial;
    font-size: 20px;
}

.skillsets_box {
    position: relative;
    top: -200px;
    left: 20px;
    width: 300px;
    height: 750px;
}
.skillsets {
    position: inherit;
    display: inline-flex;
    vertical-align: right;
}

.skill_title {
    position: inherit;
    top: -75px;
    left: 175px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.skill_info {
    text-align: center;
    font-family: Arial;
    color: red;
    font-size: 13px;
}

.picbox {
    position: relative;
    border-width: 5px;
    top: -1050px;
    left: 1450px;
    width: 400px;
    height: 450px;
    z-index: 0;
    border-color: red;
    border-style: solid;
}

.pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.shittyspace {
    position: relative;
    display: block;
    top: -950px;
    border-width: 5px;
    height: 750px;
    width: 80%;
    border-color: red;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("img/space.jpg") no-repeat;
    background-size: 100%;
}

.shittyspace_info {
    position: relative;
    top: 225px;
    font-size: 105px;
    list-style: none;
    text-align: center; 
    font-family: Arial;
    color: rgba(241, 144, 44, 1);
}

/* XL Screens + Tv's 1312px */
@media screen and (max-width: 110em) {

}

/* Desktops, Large Screens 992px */
@media screen and (max-width: 86em) {

}
/* This isn't working, but the bottom one is at least! */
/* Tablets 688px */
@media (max-width: 1366px) {
    .toppic {
        position: relative;
        left: -20px;
        width: 110%;
        height: 200px;
    }

    .personal {
        left: 400px;
    }

    .picbox {
        left: 200px;
        top: -1000px;
        width: 150px;
        height: 175px;
    }

    .skillsets_box {
        top: -250px;
        left: -150px;
    }

    .shittyspace {
        height: 400px;
        top: -800px;
    }
}

@media (orientation:portrait), (max-width: 800px) {
    .bannerpic {
        display: none;
    }

    .personal {
        top: 35px;
        left: 25px;
        width: 200px;
    }

    .personal_info {
        font-size: 12px;
    }

    .picbox {
        border-width: 5px;
        top: -1050px;
        left: 250px;
        width: 100px;
        height: 125px;
    }

    .shittyspace {
        height: 300px;
        top: -500px;
    }

    .skillsets_box {
        top: 120px;
        left: -150px;
    }

}
