.personal {
    position: relative;
    background-color: rgba(36, 44, 61, 1);
}

.personal_info {
    text-align: center;
    color: red;
    font-family: Arial;
}

.skillsets_box {
    position: relative;
}
.skillsets {
    position: inherit;
    display: inline-flex;
    vertical-align: right;
}

.skill_title {
    position: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

.skill_info {
    text-align: center;
    font-family: Arial;
    color: red;
}

.picbox {
    position: relative;
    border-color: red;
    border-style: solid;
}

.pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.shittyspace {
    position: relative;
    display: block;
    border-color: red;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("img/space.jpg") no-repeat;
    background-size: 100%;
}

.shittyspace_info {
    position: relative;
    list-style: none;
    text-align: center; 
    font-family: Arial;
    color: rgba(241, 144, 44, 1);
}

/* XL Screens + Tv's 1312px */
@media screen and (min-width: 87em) {

}

/* Desktops, Large Screens 992px */
@media screen and (min-width: 62em) {

}

/* Tablets 688px */
@media screen and (min-width: 43em) {
    .personal {
        border-left: 3px solid red;
        border-right: 3px solid black;
        top: 50px;
        left: 400px;
        width: 500px;
        height: 325px;
    }

    .personal_info {
        font-size: 20px;
    }

    .skillsets_box {
        top: -200px;
        left: 20px;
        width: 300px;
        height: 750px;
    }

    
    .skill_title {
        top: -75px;
        left: 175px;
        font-size: 15px;
    }

    .skill_info {
        font-size: 13px;
    }

    .picbox {
        border-width: 5px;
        top: -1050px;
        left: 950px;
        width: 400px;
        height: 450px;
        z-index: 0;
    }

    .shittyspace_info {
        top: 225px;
        font-size: 105px;
    }

    .shittyspace {
        top: -950px;
        border-width: 5px;
        height: 750px;
        width: 80%;
    }
}
