html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: rgb(36, 44, 61, 1);
}

a {
    font-size: 30px;
}

@media (min-width:567px) {
    .abs-center-x {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.content {
    min-height: 100%;
    background: rgb(36, 44, 61, 1);
}